<h1>医院分配</h1>
<table>
  <tr>
    <th>学院名称</th>
  </tr>

<% @colleges.each do |college| %>
  <tr>
    <td><%=h college.name %></td>
    <td><%= link_to '医院分配', :controller => :dean, :action => :select_profession, :id=> college, :type => "hospital" %></td>
    <td><%= link_to '科类分配', :controller => :dean, :action => :select_profession, :id=> college, :type => "department" %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @colleges %>