<ul>
	<li><%=link_to "医院管理", hospitals_path%></li>
	<li><%=link_to "医院分配", :controller => :dean, :action => :college_list %></li>
	<li><%=link_to "学生信息查询", :controller => :dean, :action => :student_list %></li>
</ul>
